<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Chermernder</string>
	<key>Pokedex Number</key>
	<integer>4</integer>
	<key>Date Caught</key>
	<date>2018-02-26T20:26:08Z</date>
	<key>Shiny</key>
	<false/>
	<key>Age</key>
	<integer>2</integer>
</dict>
</plist>
